<?xml version="1.0" encoding="UTF-8"standalone="yes"?>

<!--Plantilla vacía para la conexión a la Base de Datos-->
<!--Rellene las etiquetas server, port, user y contraseña con sus credenciales-->
<connection>
    <server></server>
    <port></port>
    <dataBase>refugio</dataBase>
    <user></user>
    <password></password>
</connection>
